.rating .star-active:before {
 content: "\2605";
 color: yellow;
 position: absolute;
}
.rating {
  unicode-bidi: bidi-override;
}
.rating span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  font-size: 20px;
}
